# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
.packages
.metadata

# IDE
.idea/
*.iml
.vscode/

# Generated
lib/generated/

# Android
android/local.properties
android/.gradle/
android/captures/
android/app/release/
android/key.properties
**/*.keystore
**/*.jks

# Flutter-generated plugin glue
android/app/src/main/java/io/flutter/plugins/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Build outputs
*.apk
*.aab
